@{
    ViewData["Title"] = "Login";
}

    <div class="flexbox">
        <div class="center">
            <img id="logo" src="images/logolight.png" alt="logo">
            <div id="divLogIn">
                <h2>LOG IN</h2>
                <form>
                    <div>
                       <label>E-mail:</label><br>
                        <input placeholder="sample@gmail.com">
                    </div>
                    <div>
                        <label>Password:</label><br>
                        <input placeholder="Acser!99B">
                    </div>
                    <button id="btnSignIn">Sign in</button>
                    
                    <div id="divSignUp"><span id="spMember">Not a member yet?</span><a id="btnSignUp" asp-controller="Home" asp-action="Register">Sign up</a></div>
                </form>
            </div>
        </div>
    </div>