
<h3>Add cage</h3>

<EditForm Model="@Cage">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Name :</label>
        <div>
            <InputText @bind-Value="Cage.Name" class="form-control col-sm-3" />
            <ValidationMessage For="@(() => Cage.Name)" />
        </div>
    </div>
    <div class="form-group">
        <label>Location :</label>
        <div>
            <InputText @bind-Value="Cage.Location" class="form-control col-sm-3" />
            <ValidationMessage For="@(() => Cage.Location)" />
        </div>
    </div>
    <button type="submit" class="btn btn-success w-25 p-3" @onclick="() => AddCage(Cage)" >Save</button>
</EditForm>

@code {


    [Inject]
    public ICageService cageService { get; set; }
    @inject NavigationManager NavManager;

    [Parameter]
    public Guid Id { get; set; }

    [Parameter]
    public Cage Cage { get; set; }


    protected async override Task OnInitializedAsync()
    {
        Cage = new Cage();
    }

    private async void AddCage(Cage cage)
    {

        var result =  await cageService.AddAsync(cage);
        if (result is object)
        {

          NavManager.NavigateTo($"cages");
        }
    }

}