

<div class="question"><h3>What bird is the symbol of America?</h3></div>
<div class="questionImage"></div>
<div class="itemscontainer">

    <div class="item">
        <p>Bald Eagle</p>
    </div>
    <div class="item">
        <p>Golden Eagle</p>
    </div>
    <div class="item">
        <p>Mockingbird</p>
    </div>
    <div class="item">
        <p>Starling</p>
    </div>
</div>

@code {

}
