<h3>QuestionView</h3>

<div class="outerQuestionContainer">
    <h2>Here comes the question</h2>
    <div class="innerQuestionContainer">
        <div class="answser">Here come the answers</div>
        <div class="answser">Here come the answers</div>
        <div class="answser">Here come the answers</div>
        <div class="answser">Here come the answers</div>
    </div>
</div>

@code {

}
