

<div class="question"><h3>@question.Question</h3></div>
<div class="questionImage"></div>
<div class="itemscontainer">

    @foreach (var answer in question.PossibleAnswers)
    {
        <button class="item">
            @answer
        </button>
    }

</div>

@code {


    [Inject]
    public IQuizService QuizService { get; set; }

    public QuizElement question;

    protected async override Task OnInitializedAsync()
    {
        question = await ReturnQuestion();
        await base.OnInitializedAsync();
    }

    List<int> askedQuestions = new List<int>();

    private bool CheckIfCorrect(string choice, string answer)
    {
        return choice == answer;
    }

    public async Task<QuizElement> ReturnQuestion()
    {
        Random rnd = new Random();
        var questions = await QuizService.GetAllAsync();
        var rndQuestion = rnd.Next(questions.Count());
        askedQuestions.Add(rndQuestion);
        return questions.ToArray()[rndQuestion];

    }
}
