

@if (!startQuiz)
{


    <div class="quiztitle"><h3>Test your bird knowledge!</h3></div>
    <div class="mainImage"></div>
    <div class="itemscontainer">

        <div class="item">
            <button @onclick="() => startQuiz = true">Play!</button>
        </div>
        <div class="item">
            <button>Statistics</button>
        </div>

    </div>
}
else
{
    <QuestionView></QuestionView>
}


@code {

    bool startQuiz;

}




