
    <div class="flexContainer">
        <div class="factContainer">
           <h1 class="factsTitle">Did you know!?</h1>
            <div class="fact">{{currentFact.fact}}</div>
            <div class="boxContainer">
                <div type="button" v-if="hasPreviousFact" v-on:click="getPreviousFact" class="arrow-left"></div>
                <div class="factImageContainer"> 
                    <img v-bind:src="currentFact.image" class="factImage"/>
                </div>
                <div type="button" v-on:click="getNextFact" class="arrow-right"></div>
            </div>
        </div>
 </div>

 <script src="~/js/facts.js" asp-append-version="true"></script>