
/*Login & register view*/
/*...........................................................................*/
.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 150px;
    margin: 20px 0px 20px 0px;
}

#spMember {
    font-size: small;
    margin-right: 10px;
}

#divLogIn > h2, #divLogIn > label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

input {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
}

#divLogIn > h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
    color: #D6B2DC;
}

#divLogIn {
    text-align: start;
    padding: 10px;
    padding-bottom: 15px;
    border: 2px solid #D6B2DC;
    border-radius: 10%;
}

#divSignUp {
    text-align: end;
    margin: 10px;
}

/*sign in button */

#btnSignIn, #btnSave {
    background-color: #D6B2DC;
    color: white;
    width: 307px;
    height: 40px;
    border: 0;
    margin-top: 10px;
}

#btnSignIn:hover {
    background-color: #d999e4;
}


/*sign up button */
#btnSignUp, #btnSignUp:active {
    font-weight: bold;
    background-color: white;
    border: 0;
    padding: 0;
    color: black;
    margin-top: 20px;
    text-align: end;
    text-decoration: none;
}

#btnSignUp:hover {
    color: darkgrey;
}

/*vue influensed properties*/

.navbarVisibility {
    visibility: collapse;
}

/*...........................................................................*/
/*Register specifics*/
/*...........................................................................*/
#divRegister {
    text-align: start;
    padding: 30px;
    border: 3px solid lightblue;
    border-radius: 10%;
}

#divRegister > h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
    color: lightblue;
}

#registerLogo {
    height: 110px;
    margin: 0px 0px 10px 0px;
}

#btnSave {
    background-color: lightblue;
}

.register {
    height: 130px;
    margin-top: 0;
    margin-bottom: 20px;
}
/*...........................................................................*/
/*birds index view*/
/*...........................................................................*/

