<div class="indexHeader">

<h1 class="indexTitle">My birds</h1>
<button class="btnAddNew"><p>+</p></button>
</div>

<div class="paginationDiv">

    <select  class="species select" name="example" title="species">
        <option value="A">Cockatiel</option>
        <option value="B">Budgeriar</option>
        <option value="-">Society finch</option>
      </select>

      <select class="cage select" name="example">
        <option value="A">Outside Cage</option>
        <option value="B">Little Home</option>
        <option value="-">Other</option>
      </select>

      <div class="arrowContainer">
          <div type="button" class="btnArrow"><img class="imgArrow" src="~/images/left-arrow.png"/></div>
          <div type="button" class="btnArrow"><img class="imgArrow" src="~/images/right-arrow.png"/></div>
      </div>
</div>
    <div class="indexContainer">

            <div class="containerItem">
                <a href="">
                    <div class="indexItem">
                        <img class="itemImage" src="~/images/societyfinch1.jpg"/>
                        <div>
                            <h2>Jhonnymessopotamia</h2>
                            <p>Cage 1</p>
                        </div>
                        <img class="genderImage" src="~/images/female.png" />
                    </div>
                </a>
            </div>

            <div class="containerItem">
                <a href="">
                    <div class="indexItem">
                        <img class="itemImage" src="~/images/cockatiel3.jpg"/>
                        <div>
                            <h2>Jhonny</h2>
                            <p>Cage 1</p>
                        </div>
                        <img class="genderImage" src="~/images/female.png" />
                    </div>
                </a>
            </div>

            <div class="containerItem">
                <a href="">
                    <div class="indexItem">
                        <img class="itemImage" src="~/images/cockatiel2.jpg"/>
                        <div>
                            <h2>Jhonny</h2>
                            <p>Cage 1</p>
                        </div>
                        <img class="genderImage" src="~/images/female.png" />
                    </div>
                </a>
       </div>

                   <div class="containerItem">
                <a href="">
                    <div class="indexItem">
                        <img class="itemImage" src="~/images/cockatiel2.jpg"/>
                        <div>
                            <h2>Jhonny</h2>
                            <p>Cage 1</p>
                        </div>
                        <img class="genderImage" src="~/images/female.png" />
                    </div>
                </a>
            </div>

            <div class="containerItem">
                <a href="">
                    <div class="indexItem">
                        <img class="itemImage" src="~/images/cockatiel3.jpg"/>
                        <div>
                            <h2>Jhonny</h2>
                            <p>Cage 1</p>
                        </div>
                        <img class="genderImage" src="~/images/female.png" />
                    </div>
                </a>
            </div>

            <div class="containerItem">
                <a href="">
                    <div class="indexItem">
                        <img class="itemImage" src="~/images/cockatiel2.jpg"/>
                        <div>
                            <h2>Jhonny</h2>
                            <p>Cage 1</p>
                        </div>
                        <img class="genderImage" src="~/images/female.png" />
                    </div>
                </a>
       </div>
</div>

