<div id="birdsIndex">

<div class="indexHeader">

<h1 class="indexTitle">My birds</h1>
<button class="btnAddNew"><p>+</p></button>
</div>

<div class="paginationDiv">
<div v-if="ShowSelectionBoxes">
    <select  class="species select" name="example" title="species"  v-on:selectionchange="FilterCages(this)">
        <option v-for="specimen in species" v-bind:value="specimen.id">{{specimen.name}}</option>
      </select>

      <select class="cage select" name="example" v-on:onchange="FilterSpecies(this)">
        <option v-for="cage in cages" v-bind:value="cage.id">{{cage.name}}</option>
      </select>
</div>
<div v-else>
    <div type="button" class="btnShowSelections" v-on:click="ToggleShowSelectionBoxes"><img class="imgFilter" src="~/images/filter.png"/></div>
</div>
      <div class="arrowContainer">
          <div type="button" class="btnArrow"><img class="imgArrow" src="~/images/left-arrow.png"/></div>
          <div type="button" class="btnArrow"><img class="imgArrow" src="~/images/right-arrow.png"/></div>
      </div>
</div>
    <div class="indexContainer" >

 
            <div class="containerItem" v-for="bird in birds">

                    <div class="indexItem">
                        <img class="itemImage" v-bind:src="bird.image"/>
                        <div>
                            <h2>{{bird.name}}</h2>
                            <p v-if="bird.species">{{bird.species.name}}</p>
                            <p v-if="bird.cage">{{bird.cage.name}}</p>
                        </div>

                    <div v-if="bird.gender == 'Female'"><img class="genderImage" src="~/images/female.png" /></div>
                    <div v-else><img class="genderImage" src="~/images/male.png" /></div>
                      

                    </div>

            </div>

    </div>

    </div>

    <script src="~/js/birds.js" asp-append-version="true"></script>
