<div id="speciesIndex">
        <div class="indexHeader">
        <h1 class="indexTitle">Species</h1>
    <button v-if="overViewMode" class="btnAddNew" v-on:click="toAddMode"><p>+</p></button>
    </div>

    <div v-if="overViewMode">

            <div class="paginationDiv">
                <div>
                      <div class="arrowContainer">
                          <div v-if="hasPreviousPage" type="button" class="btnArrow"><img class="imgArrow" src="~/images/left-arrow.png"  v-on:click="onPreviousPageClicked"/></div>
                          <div v-if="hasNextPage" type="button" class="btnArrow"><img class="imgArrow" src="~/images/right-arrow.png"  v-on:click="onNextPageClicked"/></div>
                      </div>
                </div>

            <div class="indexContainer" >

             <div v-if="apiErrorMessage">{{apiErrorMessage}}</div>

                    <div class="containerItem" v-for="specimen in species">
                
                            <div class="indexItem" v-on:click="toDetailMode(specimen)">

                                <div>
                                    <h2>{{specimen.name}}</h2>
                                    <p>{{specimen.scientificName}}</p>
                                </div>   
                           </div>
                    </div>
             </div>
    </div>
    </div>

    <div v-else>

         <div class="backButton" v-on:click="overViewMode = true" type="button"><img class="longArrow" src="~/images/long-arrow.png"/>Back to list</div>          
            <div class="detailView">
                <div class="imageDiv">
                    <h1 class="detailTitle">{{mode}}</h1>
                    <img class="detailImage" v-bind:src="currentSpecies.image"/>
               </div>
               <div class="formDiv">
                 <form>
                    <div v-if="currentSpecies">
                        <div class="form-group">
                            <label>Name:</label><br>
                            <input v-model="currentSpecies.name"  class="form-control col-sm-5" v-bind:readonly="detailMode" >
                            <div class="error" v-if="errors.name != []">{{errors.name[0]}}</div> 
                        </div>
        
                        <div class="form-group">
                            <label>Scientific name:</label><br>
                            <input v-model="currentSpecies.scientificName"  class="form-control col-sm-5" v-bind:readonly="detailMode" >
                            <div class="error" v-if="errors.scientificName != []">{{errors.scientificName[0]}}</div> 
                        </div>

                        <div class="form-group">
                            <label>Description:</label><br>
                            <input v-model="currentSpecies.description"  class="form-control col-sm-5" v-bind:readonly="detailMode" >
                            <div class="error" v-if="errors.description != []">{{errors.description[0]}}</div> 
                        </div>

                        <div v-if="detailMode">       
                            <button type="button" v-on:click="toEditMode()" class="btnEdit">Edit</button>
                            <button type="button" class="btnDelete">Delete</button>
                        </div> 

                        <div v-else>
                            <button>Save</button>
                            <label class="error" v-if="apiErrorMessage != null">{{apiErrorMessage}}</label>
                        </div>
                    </div>
                </form>
               </div>
            </div>
        </div>

    </div>
<script src="~/js/species.js" asp-append-version="true"></script>


              